// Normalize Reset

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

[hidden]
  display: none

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

a
  &:focus
    outline: thin dotted
  &:active, &:hover
    outline: 0

h1
  font-size: 2em
  margin: 0.67em 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

mark
  background: #ff0
  color: #000

code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em

pre
  white-space: pre-wrap

q
  quotes: "\201C" "\201D" "\2018" "\2019"

small
  font-size: 80%

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 0

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0

button, input
  line-height: normal

button, select
  text-transform: none

button, html input[type="button"]
  -webkit-appearance: button
  cursor: pointer

input
  &[type="reset"], &[type="submit"]
    -webkit-appearance: button
    cursor: pointer

button[disabled], html input[disabled]
  cursor: default

input
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    padding: 0
  &[type="search"]
    -webkit-appearance: textfield
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0

*
  -webkit-box-sizing: border-box
  box-sizing: border-box
  &::after, &::before
    -webkit-box-sizing: border-box
    box-sizing: border-box

body
  font-family: 'Roboto Condensed', Avenir, sans-serif
  color: #23DC74
  background: #141516
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

main
  overflow: hidden

a
  text-decoration: none
  color: #f0f0f0
  outline: none
  &:hover, &:focus
    color: #262626

.hidden
  position: absolute
  overflow: hidden
  width: 0
  height: 0
  pointer-events: none

.btn
  font-size: 0.885em
  font-weight: normal
  display: inline-block
  margin: 0 auto
  padding: 0.5em 0
  cursor: pointer
  text-align: center
  letter-spacing: 2px
  text-transform: uppercase
  pointer-events: auto
  color: #F0F0F0 !important
  border: 0
  background: none
  font-family: 'Roboto Condensed', Avenir, sans-serif
  -webkit-transition: opacity 0.2s
  transition: opacity 0.2s
  &:focus
    outline: none
    color: #23DC74
  &:hover
    opacity: 0.5


.btn--trigger
  margin: 0 0.5em
  border-bottom: 1px solid


.btn--prev
  margin: 0 1.5em 0 0.5em

.btn--hidden
  pointer-events: none
  opacity: 0

.actions
  position: relative
  margin: 0 auto 10px auto
  text-align: center


.no-js .actions
  display: none


.js
  .footer-block
    position: fixed
    z-index: 1000
    top: 0
    left: 0
    text-align: center
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    pointer-events: none
    opacity: 0

.page-header
  position: relative
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  min-height: 500px
  text-align: center
  background: #141516

.page-header__title
  font-family: 'Abril Fatface', serif
  font-size: 5vw
  font-weight: 400
  line-height: 1
  letter-spacing: 0.05em
  text-transform: uppercase
  position: relative
  z-index: 10
  margin: 0
  span
    font-weight: normal
    color: #f0f0f0

.browser-alert
  background: #23DC74
  height: 5vh
  width: 100vw
  position: relative
  display: flex
  padding: .5em 0 2em 0
  a
    text-align: center
    position: relative
    margin: 0 auto
    color: #141516
    text-decoration: underline


.section-title
  font-family: 'Abril Fatface', serif
  font-size: 2em
  position: relative
  color: #e8e8f1 !important
  text-transform: uppercase
  letter-spacing: 0.05em
  text-align: center
  @media screen and (max-width: 60em)
    font-size: 1em

span
  &.green
    color: #23DC74
    font-size: 3rem
    @media screen and (max-width: 60em)
      font-size: 2rem
  &.center
    text-align: center
  &.block
    display: block
  &.name
    position: absolute
    bottom: 20px
    right: 20px
    font-size: 1.5rem


.content
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  min-height: 500px
  padding: 2em 0 0 0
  @media screen and (max-width: 60em)
    padding: 4em 0 7em 0

.js .content
  overflow: hidden

.content--modifier
  color: #e8e8f1
  background: #141516
  .btn--trigger, .section-title
    color: #333


.title
  margin: 0
  font-size: 6vw
  position: relative

.title--centered
  width: 100%
  text-align: center

.js .title--centered
  justify-content: center

.title--modifier
  font-family: 'Roboto Condensed', Avenir, sans-serif
  font-weight: 400
  letter-spacing: -0.25vw

[class*="letter"]
  display: block
  position: relative
  flex: none
  white-space: pre

.slideshow
  position: relative
  width: 100%
  height: 50%
  @media screen and (max-width: 60em)
    height: 100%

.slide
  position: relative
  width: 100%
  height: 20%
  padding: 0 6vw


.slide--current > .text-block
  -webkit-animation-name: bounceInUp
  animation-name: bounceInUp
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  opacity: 1

//.slide > .text-block
  -webkit-animation-name: fadeOutDown
  animation-name: fadeOutDown
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.text-block
    flex: 1 0 50%
    max-width: 500px
    background: #23DC74
    padding: 0 10px 10px 0
    z-index: 1
    position: relative
    margin-top: 30px
    //transition: opacity 1s
    opacity: 0
    &:after
      content: ''
      background: #2a9a4a
      width: 500px
      top: -10px
      right: 10px
      bottom: 10px
      left: -10px
      z-index: -1
      //display: block
      position: absolute
    p
      text-align: left
      margin-top: 0
      padding-right: 10px


.js .slide
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  flex-wrap: wrap
  &:not(.slide--current)
    position: absolute
    top: 0
    pointer-events: none
    opacity: 0

@media screen and (max-width: 60em)
  .page-header
    background: #141516
  .page-header__title
    font-size: 2.65em
  .content--modifier2
    display: none
  .content
    height: calc(100vh - 124px)

.letter-effect
  display: flex
  flex-direction: row
  align-items: center
  flex-wrap: wrap

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes bounceInUp
  from, 60%, 75%, 90%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  from
    opacity: 0
    -webkit-transform: translate3d(0, 3000px, 0)
    transform: translate3d(0, 3000px, 0)

  60%
    opacity: 1
    -webkit-transform: translate3d(0, -20px, 0)
    transform: translate3d(0, -20px, 0)

  75%
    -webkit-transform: translate3d(0, 10px, 0)
    transform: translate3d(0, 10px, 0)

  90%
    -webkit-transform: translate3d(0, -5px, 0)
    transform: translate3d(0, -5px, 0)

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes bounceInUp
  from, 60%, 75%, 90%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  from
    opacity: 0
    -webkit-transform: translate3d(0, 3000px, 0)
    transform: translate3d(0, 3000px, 0)

  60%
    opacity: 1
    -webkit-transform: translate3d(0, -20px, 0)
    transform: translate3d(0, -20px, 0)

  75%
    -webkit-transform: translate3d(0, 10px, 0)
    transform: translate3d(0, 10px, 0)

  90%
    -webkit-transform: translate3d(0, -5px, 0)
    transform: translate3d(0, -5px, 0)

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.bounceInUp
  -webkit-animation-name: bounceInUp
  animation-name: bounceInUp

@-webkit-keyframes fadeOutDown
  from
    opacity: 1

  to
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)


@keyframes fadeOutDown
  from
    opacity: 1

  to
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)


.fadeOutDown
  -webkit-animation-name: fadeOutDown
  animation-name: fadeOutDown
